// team section
.members
  +margin-top($xs-s)

.member
  +padding-top($md-s)

  &__content
    position: "relative"

  &__inner
    +color-assign(background, member-background)
    +padding-bottom($md-s)
    +padding-left($member-s)
    +padding-right($member-s)
    +padding-top($large-member-s)
    display: flex
    flex-direction: column
    height: 100%   

  &__inner--back
    +color-assign(background, member-backside-background)
    display: flex
    
    .member__name,
    .member__desc
      text-align: left

    .member__desc
      flex-grow: 1

    .member__links
      +margin-bottom($md-s)

  &__avatar
    +margin-bottom($large-member-s)
    text-align: center

    &-img
      +color-assign(border, member-border, '7px solid here')
      border-radius: 50%
      height: $avatar
      object-fit: cover
      width: $avatar

  &__name
    +color-assign(color, secondary)
    +font-size($large-fs)
    margin-top: 0
    text-align: center

  &__desc
    +color-assign(color, font-dark)
    +font-size($base-fs)
    +margin-bottom($member-s)
    +margin-top($member-s)
    display: flex
    flex-direction: column
    line-height: $large-lh
    text-align: center

    &-list
      +padding-left($member-s)
      list-style: none
      margin: 0

      &-item
        +color-assign(color, font-dark)
        +margin-bottom($xs-s)

        &::before 
          +color-assign(color, member-border)
          +rfs($member-dot, width)
          +margin-left(-$member-dot)
          content: "\2022"
          display: inline-block
          font-weight: bold

  &__flip-arrow
    align-self: flex-end
    margin-top: auto
    cursor: pointer

  &__link
    +margin-bottom($xs-s)
    display: block
    font-weight: bold

    &::after
      +margin-left($xs-s)
      +rfs($link-icon, height)
      +rfs($link-icon, width)
      background: url('../images/link.svg') center right no-repeat
      background-size: auto 100%
      content: ""
      display: inline-block

  &__flip-hitslop
    background: transparent
    bottom: 0
    cursor: pointer
    height: $hitslop
    position: absolute
    right: 0
    width: $hitslop

.member--more
  .member__inner
    +color-assign(background, more-devs-background)
    justify-content: center

  .member__desc
    color: #757575
    display: block

  a
    font-weight: bold


.flip-card
  background-color: transparent
  width: 100%
  height: 487px
  perspective: 1000px

  +media-breakpoint-down(sm)
    height: 430px

  .flip-card-inner
    position: relative
    width: 100%
    height: 100%
    transition: transform 0.6s
    transform-style: preserve-3d
    -moz-backface-visibility: hidden

  &.flipped .flip-card-inner
    transform: rotateY(180deg)

  .flip-card-front, .flip-card-back
    position: absolute
    width: 100%
    height: 100%
    -webkit-backface-visibility: hidden
    backface-visibility: hidden

  .flip-card-front
    color-assign(background, member-background)

  .flip-card-back
    color-assign(background, member-background)
    transform: rotateY(180deg)
