$enable-responsive-font-sizes: true;

// text
$title-font-stack: 'Raleway', serif;
$font-stack: 'PT Sans', sans-serif;
$base-line-height: 1.17;
$large-line-height: 1.5;
$base-font-size: 18;
$title-font-size: 60;
$title-name-font-size: 80;
$p-font-size: 20;
$large-font-size: 30;

// banner hire us
$banner-height: 50px;
$banner-width: 100px;
$banner-arrow: 10px;
$offset: 10px;