@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@900&display=swap')
@import ../../node_modules/bootstrap/scss/bootstrap-grid.scss
@import ../../node_modules/bootstrap/scss/bootstrap-reboot.scss

$title-font-stack: 'Playfair Display', serif
$font-stack: 'PT Sans', sans-serif
$primary-color: #2B3D87
$secondary-color: #FC732C

body
  font: 100% $font-stack
  color: $primary-color

h1, h2, h3, h4, h5, h6
  font-family: $title-font-stack

.secondary-color
  color: $secondary-color

.header
  margin: 100px 0

.site-title
  font-size: 80px

.coming-soon
  margin: 100px 0
  text-align: center