@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@900&display=swap')
@import ../../node_modules/bootstrap/scss/bootstrap-grid.scss
@import ../../node_modules/bootstrap/scss/bootstrap-reboot.scss

@import 'colors'

$title-font-stack: 'Playfair Display', serif
$font-stack: 'PT Sans', sans-serif
body
  font: 20px $font-stack
  @include color-assign(color, primary)
  @include color-assign(background-color, background)

h1, h2, h3, h4, h5, h6
  font-family: $title-font-stack
  font-weight: 900

h1, h2
  font-size: 80px
  line-height: 107px
  margin-top: 65px

p
  font: 20px $font-stack
  @include color-assign(color, primary)
  line-height: 26px
  margin: 25px 0

a
  @include color-assign(color, secondary)
  text-decoration: underline

  &:hover
    @include color-assign(color, secondary)
    text-decoration: none


.secondary-color
  @include color-assign(color, secondary)

.link-button
  @include color-assign(color, secondary)
  font-family: $title-font-stack
  font-size: 30px
  line-height: 40px
  text-decoration: underline
  margin-top: 25px
  display: block

.site-title
  margin: 112px 0 40px

.section
  @include color-assign(border-bottom, section-border, '3px solid here')
  padding-bottom: 63px

.client-logo
  text-align: center
  margin-top: 60px

.intro-description
  font-size: 30px
  line-height: 39px
  margin: 0 0 60px

.team-members-title 
  margin: 45px 0 36px

.member
    @include color-assign(background, member-background)
    padding: 23px
    position: relative
    height: 100%
    @include color-assign(border-bottom, background, '30px solid here')

    .member-avatar
      position: absolute
      width: 87px
      height: 87px
      border-radius: 44px
      @include color-assign(border, member-border, '3px solid here')
      top: 30px
      right: 23px
      background: #ffffff
      overflow: hidden

      img
        object-fit: cover
        width: 87px
        height: 87px

    h3
      @include color-assign(color, secondary)
      font-size: 30px
      line-height: 40px
      margin-top: 10px

    .member-desc
      margin-bottom: 20px
      
      strong
        font-size: 20px
        line-height: 26px
        text-transform: uppercase
        margin: 25px 0 5px
        display: block

      ul
        margin: 0
        padding-left: 20px
        list-style: none

        li
          @include color-assign(color, black-font)

        li::before 
          content: "\2022"
          @include color-assign(color, member-border)
          font-weight: bold
          display: inline-block
          width: 20px
          margin-left: -20px
        
